<!DOCTYPE html>

<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AiCore API for educational purposes, built with FastAPI">
    <meta name="author" content="Ivan Ying">

    <title>Ai Core Celebrity DOB</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link href="/static/theme.css" rel="stylesheet">
    <link href="/static/docs.css" rel="stylesheet">
</head>

    <img src="/static/ai_core.png" style="float: left; max-width: 84px; margin-right: 20px;" alt="">

    <h1><span class="font-semi-bold">Celebrity DOB Service</span>
    </h1>

    <p class="lead">
        The <a href="https://portal.theaicore.com/">Ai Core</a> Celebrity DOB service.<br>
        <br>
        <strong>Endpoints</strong>
    <ul>
        <li>
            <strong>DOB of a celebrity</strong><br>
            <a href="/api/dob/Uma?last_name=Thurman&city=True"
               target="_blank"><strong>GET /api/dob/{first_name}?last_name={last_name}&city={city}</strong></a><br>
            <br>
            <div style="font-size: 12px;">
                <strong>Parameters</strong>
                <ul>
                    <li><strong>Required</strong>: <code>first_name={first_name}</code> - The first name of the celebrity you want to search
                    </li>
                    <li><strong>Required: </strong><code>last_name={last_name}</code> - The last name of the celebrity you want to search
                    </li>
                    <li>Optional: <code>city={city}</code> - Boolean. If True, the JSON file will return the birth place of the celebrity
                    </li>
                </ul>
    
                <strong>Response JSON</strong>
                <ul>
                    <li>Click <a href="/api/dob/Uma?last_name=Thurman&city=True"
                                 target="_blank"
                    >the link above</a> to see example output.
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    </p>
